# Ignore virtual environments
venv/
ENV/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Database files (optional, depending on your setup)
*.sqlite3

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
